@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --primary-color-1: #5a7c90;
  --primary-color-2: rgba(231, 212, 203, 0.435);
  --border--color-: #95587bac;
  --p-color--: #5b7c91aa;
}

body {
  overflow-x: hidden;
}
/*start of nav styles*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--primary-color-2);
  font-family: "Poppins", sans-serif;
}
.logo a {
  color: var(--primary-color-1);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.6rem;
  box-shadow: 3px 3px var(--border--color-);
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
   gap: 1rem;
  padding-top: 1rem;
}
.nav-links li {
  list-style-type: none;
}
.nav-links a {
  text-decoration: none;
  color: var(--primary-color-1);
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 1.1rem;
}
.fas-solid,
.fas {
  display: none;
  color: var(--primary-color-1);
  cursor: pointer;
}
.fas .fa-window-close {
  display: none;
}

.nav-links a:hover {
  color: var(--border--color-);
}
#burger{
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-active{
    overflow-x: hidden;
    display:flex;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--primary-color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
    padding: 2rem 0;
    transform: translateX(100%);
    display: none;
    transition: transform 0.5s ease-in;
  }

  .fa-solid,
  .fas {
    display: block;
  }
  #burger{
    display: block;
  }
  #close {
    display: none;
  }
  .logo {
    font-size: 0.8rem;
  }
  .nav-links a {
    font-size: 0.9rem;
  }
}
/*desktop*/
@media screen and (min-width: 1280px) {
  .nav-links {
    width: 50%;
    overflow-x: hidden;
    
  }
  #close {
    display: none;
  }
  #burger{
    display: none;
  }
}
.nav-active {
  width: 50%;
  display:flex;
  overflow-x: hidden;
  transform: translateX(0%);
}

/*end of nav styles*/



/*my work sction*/

.myWork {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10rem 0rem;
  flex-direction: column;

  gap: 4rem;
}
.section-title {
  text-align: center;
  font-size: 2.8rem;
  color: var(--primary-color-1);
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  border-bottom: solid 3px var(--border--color-);
  text-transform: uppercase;
  
  animation-duration: 2s; /* don't forget to set a duration! */
}
.work-cards {
  max-width: 100%;
  height: 100%;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.work-card-container {
  width: 250px;
  height: 300px;
  background-color: var(--primary-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem 0 1rem 0;
  flex-wrap: wrap;
  gap: 0.5rem;
  box-shadow: 3px 3px var(--border--color-);
  cursor: pointer;
}
.work-card-container:hover {
  animation: pulse;
  animation-duration: 1s;
}
.work-img-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.work-card-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.work-card-text {
  max-width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.1rem;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.work-card-container h3 a {
  font-size: 0.9rem;

  font-weight: bold;
  color: var(--p-color--);
  font-family: "Poppins", sans-serif;
justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
 a:active {
  text-decoration: none;
  color: inherit;
}
.work-card-container p {
  display: inline-block;
  font-size: 0.9rem;

  color: var(--p-color--);
  font-family: "Poppins", sans-serif;
}
/*mobile*/
@media screen and (max-width: 768px) {
  .work-cards {
    flex-direction: column;
  }
}
/*ipad*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .work-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
  }
}

/*end of  my work section*/